@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  padding-top: 50px;
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
}

#hello {
  margin-top: 50px;
}

#Avater {
  width: 150px;
  height: 150px;
  top: 80px;
  position: relative;
  left: 50%;
  margin-left: -40px;
  z-index: 100;
  border-radius: 50%;
}

header {
  text-align: center;
}

h2 {
  margin-left: @base-margin;
  color: @primary-color;
  margin-bottom: @base-margin;
  margin-top: @base-margin;
}

#intro {
  margin-left: 20px;
}
.year {
  padding-right: 50px;
  font-size: 20px;
  font-weight: 900px;
  padding-left: 20px;
  vertical-align: top;
}

h4 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.introBlock {
  background-color: @gray;
  padding-top: 0px;
  width: 700px;
  height: auto;
}

#EducationTable {
  border-spacing: 0 20px;
}

.container {
  background-color: white;
  width: 900px;
  margin-left: 300px;
  padding-top: 50px;
}
